:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.toolbar {
    display: flex;
    background-color: #333;
    color: white;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 38.75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.toolbar li {
    list-style: none;
    padding: 10px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    user-select: none;
}

.toolbar li:not([disabled]) {
    cursor: pointer;
}

.toolbar li:not([disabled]):hover {
    background-color: #111;
}

div[contenteditable="true"] {
    width: 100%;
    height: calc(100vh - 38.75px);
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
    font-family: Consolas, monospace;
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
    background: #f0f0f0;
}


div[contenteditable="true"]:focus {
    outline: none;
}